* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--primary-font);
   background-color: var(--white-color);
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.section__padding {
   padding: var(--margin-y) var(--margin-x);
}

.section__margin {
   margin: var(--margin-y) var(--margin-x);
}
